{% extends 'base.html.twig' %}
{% block title %}A propos - Sen physio group{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&family=Vidaloka&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock %}
{% block body %}
{{ include('partials/__header.html.twig') }}
<!-- banniere doctor -->
<div class="container bg-danger" data-aos="fade-in" data-aos-duration="3000" style="margin-top:75px">
  <h2 class="p-4 text-center text-white">Intervenant</h2>
</div>
<hr class="bg-danger w-25">
<!-- fin de la banniere -->
<!-- les informations du docteurs -->
<div class="container mt-4" >
  <div class="row">
    <!-- photo du docteur -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" data-aos="fade-right" data-aos-duration="3000">
      <img class="card-img-top w-100 img-fluid" height="377" src="{{asset('images/')}}{{data.images}}" alt="Card image cap">
    </div>
    <!-- fin -->
    <!-- informations  -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" data-aos="fade-left" data-aos-duration="3000">
      <header>
        <h1 class="text-center">{{data.nomComplet}}</h1>
        <small>{{data.domaine}}</small>
      </header>
      <div class="">
      <p class="lead text-justify">{{data.description |raw}}</p>
      </div>
      <footer>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="far fa-envelope"></i> <a href="{{path('contact')}}">contactez-nous</a></li>
        </ul>
      </footer>
        <!-- reseaux sociaux -->
      <div class="">
        <!-- <ul>
          <li><a href="#"><i class="far fa-facebook"></i></a></li>
          <li><a href="#"><i class="far fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="far fa-twitter"></i></a></li>
        </ul> -->

      </div>
    </div>
    <!-- fin -->

  </div>

</div>
<!-- fin -->
<hr class="bg-danger w-25">
<!-- les autres intervenants -->

<div class="container mt-4">
  <h3 class="text-center text-danger">Les autres intervenants</h3>
  <section class=" mt-4 pb-4 mb-4">
    <hr>
    <div class="card-deck">
      {% for otherIntervenant in dataOtherIntervenant %}
      <div class="card border-0" data-aos="fade-right" data-aos-duration="3000">
        <a href="{{path('docteur',{'slug':otherIntervenant.slug})}}" id="img_hover">  <img class="card-img-top img-fluid w-100" height="277" src="{{asset('images/')}}{{otherIntervenant.images}}" alt="Card image cap"></a>
        <div class="card-body">
          <a href="{{path('docteur',{'slug':otherIntervenant.slug})}}"><h5 class="card-title text-danger">{{otherIntervenant.nomComplet}}</h5></a>
          <small class="text-muted">{{otherIntervenant.domaine}}</small>
          <p class="card-text text-center">{{otherIntervenant.description |raw |slice(0,100)}}[...]</p>
          <a href="{{path('docteur',{'slug':otherIntervenant.slug})}}" class="btn btn-sm btn-danger">Voir détails</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

</div>
<!-- fin -->

{{ include('partials/__footer.html.twig') }}

{% endblock %}
