{% extends 'base.html.twig' %}
{% block title %}Accueil - Sen physio group{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&family=Vidaloka&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock %}
{% block body %}
{{ include('partials/__header.html.twig') }}

<!-- la banniere -->
<div class="container-fluid" style="margin-top:79px">
  <img class="img-fluid w-100 " src="{{asset('images/slide.jpg')}}" alt="">
</div>
<!-- fin de la banniere -->

<!-- le RV -->
<div class="container-fluid mt-4  bg-dark" data-aos="fade-in" data-aos-duration="3000" style="padding: 40px 40px">
  <div class="d-flex justify-content-center">
    <a href="{{path('prv')}}"  style="border:solid #fff 1px" class="btn p-2 btn-dark ">Prenez un Rendez-Vous</a>
  </div>

</div>

<!-- fin RV -->
<!-- services -->
<section class="container-fluid border-top  mt-4 pb-4 mb-4">
  <div class="container">

    <h2 class="text-center text-danger">Nos services</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
      </ol>
      <div class="carousel-inner bg-light  p-4 rounded" >
        <div class="carousel-item active">
          <h3 class="text-center text-danger">Soins en kinésithérapie</h3>
          <p class="text-center  lead">
          <strong>Nous offrons des prestations allant des soins en kinésithérapie aux soins de confort en passant par la réathlétisation et les consultations médicales spécialisées</strong>.
          </p>
          <hr>

          <div class="card-deck m-4" data-aos="fade-in" data-aos-duration="3000">
            <!-- services -->

            {% for dataService in data %}
            <div class="card  border-0" data-aos="fade-left" data-aos-duration="3000">
              <a href="{{path('service',{'slug':dataService.slug})}}" id="img_hover"><img class="card-img-top img-fluid w-100"  height="277" src="{{asset('images/')}}{{dataService.images}}" alt="Card image cap"></a>
              <div class="card-body">
                <a href="{{path('service',{'slug':dataService.slug})}}"><h5 class="card-title text-primary">{{dataService.nom}}</h5></a>
                <p class="card-text">{{dataService.description |raw |slice(0,150)}}[...]</p>
                <a class="btn btn-sm btn-danger" href="{{path('service',{'slug':dataService.slug})}}">Voir détails</a>
              </div>
            </div>
            {% endfor %}
            <!-- fin de srvices -->
          </div>
        </div>
        <div class="carousel-item">
          <!-- debut card -->
          <div class="p-4">
            <h3 class="text-center text-danger">Nos formations</h3>
            <div class="card-deck">
              {% for formation in dataFormation %}
              <div class="card">
                <a href="{{path('formation',{'slug':formation.slug})}}" id="img_hover"><img src="{{asset('images/' ) |imagine_filter("thumb")}}{{formation.images}} " class="card-img-top w-100 img-fluid" alt="..."></a>
                <div class="card-body">
                  <a href="{{path('formation',{'slug':formation.slug})}}"><h5 class="card-title">{{formation.titre}}</h5></a>
                  <p class="card-text">{{formation.description |raw |slice(0,100)}}[...]</p>
                  <a class="btn btn-sm btn-danger" href="{{path('formation',{'slug':formation.slug})}}">Voir détails</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- fin card -->
        </div>
      <!--   <div class="carousel-item">
          <img class="d-block w-100" src="" alt="Third slide">
        </div> -->
      </div>
      <a class="carousel-control-prev bg-danger" style="width: 20px" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next bg-danger" href="#carouselExampleIndicators" style="width: 20px" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>
<!-- fin -->
<!-- nos intervenants -->
<section class="container border-top  mt-4 pb-4 mb-4">
  <h3 class="text-center text-danger">Nos intervenants</h3>
  <p class="text-center lead">Nos intervenants sont très compétents dans leurs domaines.</p>
  <hr>
  <div class="navigation">
    {{ knp_pagination_render(dataIntervenant) }}
  </div>
  <div class="card-deck">
    {% for intervenant in dataIntervenant %}
    <div class="card border-0 " >
      <a href="{{path('docteur',{'slug':intervenant.slug})}}" id="img_hover"><img class="card-img-top w-100 img-fluid " height="277" src="{{asset('images/')}}{{intervenant.images}}" alt="Card image cap"></a>
      <div class="card-body">
        <a href="{{path('docteur',{'slug':intervenant.slug})}}"><h5 class="card-title text-primary"> {{intervenant.nomComplet}} </h5></a>
        <small class="text-muted">{{intervenant.domaine}}</small>
        <p class="card-text">{{intervenant.description |raw |slice(0,100)}}[...]</p>
        <a class="btn btn-sm btn-danger" href="{{path('docteur',{'slug':intervenant.slug})}}">Voir détails</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="navigation">
    {{ knp_pagination_render(dataIntervenant) }}
  </div>
</section>
<!-- section nos formation -->


  <!-- le corps-->
  <!-- le RV -->
  <div class="container-fluid  bg-dark" data-aos="fade-in" data-aos-duration="3000" style="padding: 40px 40px">
    <div class="d-flex justify-content-center">
      <a href="{{path('prv')}}"  style="border:solid #fff 1px" class="btn p-2 btn-dark ">Prenez un Rendez-Vous</a>
    </div>

  </div>

  <!-- fin RV -->
  <!-- les references -->
  <section  class="mt-4">
    <h2 class="text-center text-danger">Nos Références</h2>
    <div class="row">
      {% for i in range(1,5) %}
      <div class="col-5 col-sm border-0 img-thumbnail m-1"><img class="w-100" src="{{asset('images/reference/logo')}}{{i}}.png" alt=""></div>
      {% endfor %}
    </div>
  </section>
  <!-- fin -->
  <!-- <section class="container mt-4 border-top pt-4 " data-aos="fade-up" data-aos-duration="3000">
  <div class="bg-transparent d-flex flex-column justify-content-center mb-1 align-items-center">
  <div class="">
  <h3 class="text-center commande" >Vos commande en un clic</h3>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>
<div class="" data-aos="fade-up" data-aos-duration="3000">
<a class="btn btn-primary btn-danger btn-lg"  href="#" role="button">Visiter notre boutique <i class="fas fa-caret-right"></i></a>
</div>

</div>

</section> -->
<!-- la fin -->
<!-- fin -->
<div class="container-fluid">
  {{ include('partials/__footer.html.twig') }}
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function () {
  $(window).scroll(function () {
    if ($(window).scrollTop() > 300) {
      $('#i').css({
        "opacity":"1", "pointer-events":"auto"
      });
    }else {
      $('#i').css({
        "opacity":"0", "pointer-events":"none"
      });
    }
  });
  $('#i').click(function(){
    $('html').animate({scrollTop:0}, 500);
  });
});
</script>
{% endblock %}
