{{ include('partials/__header.html.twig') }}
{% block body %}
<!-- loader -->
<div class="loader_bg">
  <div class="loader">
    <img src="{{asset('images/loader.gif')}}" alt="">
  </div>
</div>
<!-- fin loader -->
<div class="body" style="margin-top:70px">
  <!-- la banniere -->
  <div class="container-fluid banniere" >
    <div class="">
      <img class="img-fluid w-100" src="{{asset('images/slide.jpg')}}" alt="la banniere">
    </div>
  </div>
  <!-- fin de la banniere -->
  <!-- button scroll top -->
  <i id="i" class="fas fa-chevron-up"></i>
  <!-- fin  -->
  <!-- le RV -->
  <section class="container rounded mt-4 bg-dark " data-aos="fade-in" data-aos-duration="3000">
    <a href="{{path('prv')}}" class="btn btn-dark  btn-block">Prenez un Rendez-Vous</a>
  </section>
  <!-- fin RV -->
  <!-- services -->
  <section class="container border-top  mt-4 pb-4 mb-4">
    <h3 class="text-center text-danger">Nos services</h3>
    <p class="text-center lead">
      Nous offrons des prestations allant des <strong> soins en kinésithérapie aux soins de confort en passant par la réathlétisation et les consultations médicales spécialisées</strong>.
    </p>
    <hr>
    <div class="card-deck" data-aos="fade-in" data-aos-duration="3000">
      <!-- services -->
      {% for dataService in data %}
      <div class="card  border-0" data-aos="fade-left" data-aos-duration="3000">
        <a href="{{path('service',{'slug':dataService.slug})}}" id="img_hover"><img class="card-img-top img-fluid w-100"  height="277" src="{{asset('images/')}}{{dataService.images}}" alt="Card image cap"></a>
        <div class="card-body">
          <a href="{{path('service',{'slug':dataService.slug})}}"><h5 class="card-title text-primary">{{dataService.nom}}</h5></a>
          <p class="card-text">{{dataService.description |raw |slice(0,150)}}[...]</p>
          <a class="btn btn-sm btn-danger" href="{{path('service',{'slug':dataService.slug})}}">Voir détails</a>
        </div>
      </div>
      {% endfor %}
      <!-- fin de srvices -->
    </div>
  </section>
  <!-- fin -->
  <!-- nos intervenants -->
  <section class="container border-top  mt-4 pb-4 mb-4">
    <h3 class="text-center text-danger">Nos intervenants</h3>
    <p class="text-center lead">Nos intervenants sont très compétents dans leurs domaines.</p>
    <hr>
    <div class="navigation">
      {{ knp_pagination_render(dataIntervenant) }}
    </div>
    <div class="card-deck">
      {% for intervenant in dataIntervenant %}
      <div class="card border-0 " >
        <a href="{{path('docteur',{'slug':intervenant.slug})}}" id="img_hover"><img class="card-img-top w-100 img-fluid " height="277" src="{{asset('images/')}}{{intervenant.images}}" alt="Card image cap"></a>
        <div class="card-body">
          <a href="{{path('docteur',{'slug':intervenant.slug})}}"><h5 class="card-title text-primary"> {{intervenant.nomComplet}} </h5></a>
          <small class="text-muted">{{intervenant.domaine}}</small>
          <p class="card-text">{{intervenant.description |raw |slice(0,100)}}[...]</p>
          <a class="btn btn-sm btn-danger" href="{{path('docteur',{'slug':intervenant.slug})}}">Voir détails</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="navigation">
      {{ knp_pagination_render(dataIntervenant) }}
    </div>
  </section>
  <!-- section nos formation -->
  <section class="container mt-4">
    <div class="border-top border-bottom d-flex flex-wrap flex-row justify-content-between">
      <div class="">
        <h3 class="text-danger">Nos formations</h3>
      </div>
      <div class="mt-1">
        <button class="btn d-none btn-danger btn-sm mb-1">Voir plus</button>
      </div>
    </div>
    <!-- debut card -->
    <div class="p-4">
      <div class="row row-cols-1 row-cols-md-2" data-aos="fade-in" data-aos-duration="3000">
        {% for formation in dataFormation %}
        <div class="col-xs-12 col-sm-12 col-md-4 mb-4" data-aos="fade-right" data-aos-duration="3000">
          <div class="card" >
            <a href="{{path('formation',{'slug':formation.slug})}}" id="img_hover"><img src="{{asset('images/')}}{{formation.images}}" class="card-img-top w-100 img-fluid" alt="..."></a>
            <div class="card-body">
              <a href="{{path('formation',{'slug':formation.slug})}}"><h5 class="card-title">{{formation.titre}}</h5></a>
              <p class="card-text">{{formation.description |raw |slice(0,100)}}[...]</p>
              <a class="btn btn-sm btn-danger" href="{{path('formation',{'slug':formation.slug})}}">Voir détails</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- fin card -->
    <!-- </section> -->

    <!-- le corps-->
  <!-- le RV -->

  <section class="container rounded mt-4 bg-dark " data-aos="fade-in" data-aos-duration="3000">
    <a href="{{path('prv')}}" class="btn btn-dark btn-block">Prenez un Rendez-Vous</a>
  </section>
  <!-- fin RV -->
  <!-- <section class="container mt-4 border-top pt-4 " data-aos="fade-up" data-aos-duration="3000">
  <div class="bg-transparent d-flex flex-column justify-content-center mb-1 align-items-center">
  <div class="">
  <h3 class="text-center commande" >Vos commande en un clic</h3>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>
<div class="" data-aos="fade-up" data-aos-duration="3000">
<a class="btn btn-primary btn-danger btn-lg"  href="#" role="button">Visiter notre boutique <i class="fas fa-caret-right"></i></a>
</div>

</div>

</section> -->
<!-- la fin -->
<!-- fin -->
</div>
{{ include('partials/__footer.html.twig') }}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function () {
  $(window).scroll(function () {
    if ($(window).scrollTop() > 300) {
      $('#i').css({
        "opacity":"1", "pointer-events":"auto"
      });
    }else {
      $('#i').css({
        "opacity":"0", "pointer-events":"none"
      });
    }
  });
  $('#i').click(function(){
    $('html').animate({scrollTop:0}, 500);
  });
});
</script>
<script type="text/javascript">
$(document).ready(function () {
  $('.loader_bg').fadeOut('slow',function () {
    $('.body').fadeIn('slow');
  });
});
</script>
{% endblock %}
