{{ include('partials/__header.html.twig') }}
{% block body %}
<!-- loader -->
<div class="loader_bg">
  <div class="loader">
    <img src="{{asset('images/loader.gif')}}" alt="">
  </div>
</div>
<!-- fin loader -->
<div class="body">

<!-- la banniere -->
<div class="container-fluif banniere" >
  <img class="image-fluid w-100" src="{{asset('images/slide.jpg')}}" alt="">
</div>
<!-- fin de la banniere -->
<!-- button scroll top -->
<i id="i" class="fas fa-chevron-up"></i>
<!-- fin  -->
<!-- le RV -->

<section class="container rounded mt-4 bg-dark " data-aos="fade-in" data-aos-duration="3000">
  <a href="{{path('prv')}}" class="btn btn-dark p-4 btn-block"> <h2>Prenez un Rendez-Vous <i class="fas fa-caret-right"></i> </h2>  </a>
</section>
<!-- fin RV -->
<!-- services -->
<section class="container border-top  mt-4 pb-4 mb-4">
  <h3 class="text-center text-danger">Nos services</h3>
  <p class="text-center lead">
Nous offrons des prestations allant des <strong> soins en kinésithérapie aux soins de confort en passant par la réathlétisation et les consultations médicales spécialisées</strong>.
</p>
  <hr>

  <div class="card-deck" data-aos="fade-in" data-aos-duration="3000">

    <div class="card  border-0" data-aos="fade-left" data-aos-duration="3000">
      <a href="#" id="img_hover"><img class="card-img-top w-100"  height="277" src="{{asset('images/soins.jpeg')}}" alt="Card image cap"></a>
      <div class="card-body">
        <a href="#"><h5 class="card-title text-primary"> Soins en Rééducation et Réadaptation Fonctionnelle</h5></a>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      </div>
    </div>

    <div class="card  border-0" >
      <a href="#" id="img_hover"><img class="card-img-top w-100"   height="277" src="{{asset('images/reathletisation.jpeg')}}" alt="Card image cap"></a>
      <div class="card-body">
        <a href="#"><h5 class="card-title text-primary"> Réathletisation </h5></a>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
    <div class="card border-0" data-aos="fade-right" data-aos-duration="3000">
      <a id="img_hover" href="#"><img class="card-img-top w-100" height="277" src="{{asset('images/consultation.jpeg')}}" alt="Card image cap"></a>
      <div class="card-body">
        <a href="#"><h5 class="card-title text-primary"> Consultation en neurologie</h5></a>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>

</section>
<!-- fin -->



<!-- nos intervenants -->

<section class="container border-top  mt-4 pb-4 mb-4">
  <h3 class="text-center text-danger">Nos intervenants</h3>
  <p class="text-center lead">Nos intervenants sont très compétents dans leurs domaines.</p>

  <hr>
  <div class="card-deck">
    <div class="card border-0" >
      <a href="{{path('docteur')}}" id="img_hover">  <img class="card-img-top w-100" height="277" src="{{asset('images/soins.jpeg')}}" alt="Card image cap"></a>
      <div class="card-body">
        <a href="{{path('docteur')}}"><h5 class="card-title text-primary"> Dr Ndiaye </h5></a>
        <small class="text-muted">Kine</small>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card border-0" >
      <a href="" id="img_hover"><img class="card-img-top w-100" height="277" src="{{asset('images/reathletisation.jpeg')}}" alt="Card image cap"></a>
      <div class="card-body">
        <a href="#"><h5 class="card-title text-primary"> Dr Diop </h5></a>
        <small class="text-muted">Neurologist</small>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
    <div class="card border-0" >
      <a href="" id="img_hover"><img class="card-img-top w-100" height="277" src="{{asset('images/consultation.jpeg')}}" alt="Card image cap"></a>
      <div class="card-body">
       <a href="#"><h5 class="card-title text-primary"> Dr Fall</h5></a>
        <small class="text-muted">Dentist</small>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</section>

<!-- section nos formation -->
<!-- <section class="container mt-4">

  <div class="border-top border-bottom d-flex flex-wrap flex-row justify-content-between">
    <div class="">
      <h3 class="text-danger">Nos formations</h3>
    </div>
    <div class="mt-1">
      <button class="btn btn-danger btn-sm mb-1">Voir plus</button>
    </div>
  </div> -->
  <!-- debut card -->
  <!-- <div class="p-4">


    <div class="row row-cols-1 row-cols-md-2" data-aos="fade-in" data-aos-duration="3000">
      <div class="col-xs-12 col-sm-12 col-md-4 mb-4" data-aos="fade-right" data-aos-duration="3000">
        <div class="card" >
          <a href="#" id="img_hover">  <img src="" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <small class="text-muted">12 Mai 2018</small>
            <a href="#"><h5 class="card-title">Card title </h5></a>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a class="btn btn-sm btn-danger" href="#">Visiter</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 mb-4" data-aos="fade-down" data-aos-duration="3000">
        <div class="card">
          <a href="" id="img_hover">  <img src="" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <small class="text-muted">12 Mai 2018</small>
            <a href="#"><h5 class="card-title">Card title </h5></a>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a class="btn btn-sm btn-danger" href="#">Visiter</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 mb-4" data-aos="fade-left" data-aos-duration="3000">
        <div class="card">
          <a href="" id="img_hover">  <img src="" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <small class="text-muted">12 Mai 2018</small>
            <a href="#"><h5 class="card-title">Card title</h5></a>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-sm btn-danger" href="#">Visiter</a>
          </div>
        </div>
      </div>

    </div>
  </div> -->
  <!-- fin card -->
<!-- </section> -->

<!-- le corps
-->
<!-- le RV -->

<section class="container rounded bg-dark " data-aos="fade-in" data-aos-duration="3000">
  <a href="{{path('prv')}}" class="btn p-4 btn-dark btn-block"> <h2>Prenez un Rendez-Vous <i class="fas fa-caret-right"></i></h2> </a>
</section>
<!-- fin RV -->
<!-- <section class="container mt-4 border-top pt-4 " data-aos="fade-up" data-aos-duration="3000">
  <div class="bg-transparent d-flex flex-column justify-content-center mb-1 align-items-center">
    <div class="">
      <h3 class="text-center commande" >Vos commande en un clic</h3>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
    <div class="" data-aos="fade-up" data-aos-duration="3000">
      <a class="btn btn-primary btn-danger btn-lg"  href="#" role="button">Visiter notre boutique <i class="fas fa-caret-right"></i></a>
    </div>

  </div>

</section> -->
<!-- la fin -->
<!-- fin -->
</div>

{{ include('partials/__footer.html.twig') }}
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
$(document).ready(function () {
  $(window).scroll(function () {
    if ($(window).scrollTop() > 300) {
      $('#i').css({
        "opacity":"1", "pointer-events":"auto"
      });
    }else {
      $('#i').css({
        "opacity":"0", "pointer-events":"none"
      });
    }
  });
  $('#i').click(function(){
    $('html').animate({scrollTop:0}, 500);
  });

});

</script>
<script type="text/javascript">
$(document).ready(function () {
  $('.loader_bg').fadeOut('slow',function () {
    $('.body').fadeIn('slow');
  });
});
</script>
{% endblock %}
