{% extends 'base.html.twig' %}
{% block title %}Institut Physio de Dakar - Sen physio group{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&family=Vidaloka&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock %}
{% block body %}
{{ include('partials/__headerPhysioSport.html.twig') }}
<!-- la banniere -->
<div class="container  banniere " style="margin-top:70px">
  <h2 class="text-center p-4 text-white bg-danger ">Institut Physio de Dakar</h2>
</div>
<!-- fin de la banniere -->
<div class="container bg-light p-4">
  <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('images/InstitutLogo.png')}}" height="50" width="150" alt=""></a>

</div>
<!-- le corps de l'institut -->
<div class="container">
  <div class="row">
    <!-- image -->
    <div class="col-xs-12 col-sm-12 col-md-4">
      <img class="card-img-top w-100" style="height:auto" src="{{asset('images/institu.png')}}" alt="Card image cap">
      <div class="mt-2">
        <a href="{{path('contact')}}" class="btn btn-block btn-primary">Plus d'infos</a>
      </div>
    </div>
    <!-- fin -->
    <!-- text -->
    <div class="col-xs-12 col-sm-12 col-md-4">
      <header>
        <h1 class="badge badge-primary p-2 mt-1" style="font-size:23px">Présentation</h1>
        <!-- <hr class="bg-primary"> -->
      </header>
      <div class="">
        <p class="lead">
          L’institut de Physiothérapie de Dakar offre des sessions de formation continue modulaire dans tous les domaines de la <strong>kinésithérapie</strong> en partenariat avec des <strong>instituts</strong> ou <strong>formateurs de renommé internationale</strong>.
        </p><p class="lead"> Toutes nos sessions comportent des cours <strong>théoriques et pratique</strong>.</p>
        <p class="lead">  Nous projetons également de nous lancer dans la formation initiale avec un programme répondant aux standards internationaux en matière de formation initiale en <strong>kinésithérapie</strong>.

        </p>

      </div>

    </div>
    <!-- fin -->
    <!-- image -->
    <div class="col-xs-12 col-sm-12 col-md-4">
      <header>
        <h3 class="badge badge-primary p-2 mt-1" style="font-size:23px">Institut Physio de Dakar</h3>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img class="card-img-top w-100 m-2" style="height:auto" src="{{asset('images/institut1.jpg')}}" alt="Card image cap">
          </div>
          <div class="col-md-5">
            <img class="card-img-top w-100 m-2" style="height:auto" src="{{asset('images/institut2.jpeg')}}" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
    <!-- fin -->

  </div>

</div>
<!-- fin  -->

<!-- footer -->
<div class="container-fluid bg-light ">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">

        <a href="{{path('home')}}"><img class="mb-2" src="{{asset('images/logo.png')}}" height="70" width="150" alt="logo" width="24" height="24"></a>
        <small class="d-block mb-3 text-muted">&copy;2020</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-danger">Réseaux sociaux</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://www.facebook.com/physiosportdakar/"> <img height="30" width="30" src="{{asset('images/facebook.png')}}" alt="page faccebook"> Facebook </a></li>
          <li><a class="text-muted" target="_blank" href="https://web.whatsapp.com/send?phone=221783497878&amp;text=Bonjour, je voudrais des rensignements:"><img height="70" width="70" src="{{asset('images/whatsapp.png')}}" alt="whatsapp" ></a></li>
        </ul>
      </div>
      <!-- <div class="col-6 col-md">
        <h5 class="text-danger">Newsletter</h5>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Adresse email">
          </div>
          <button type="submit" class="btn btn-block btn-danger">Envoyer</button>
        </form>
      </div> -->
      <div class="col-6 col-md">
        <h5 class="text-danger">A propos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="{{path('apropos')}}">Qui sommes-nous?</a></li>
          <li><a class="text-muted" href="{{path('contact')}}">Contactez-nous</a></li>
          <li class="text-muted number">+221 33 877 00 29</li>
          <li> <a href="#"><img height="70" width="80" src="" alt=""></a> </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="border-top">
    <p class="text-center"><small>Designed & developed by <a href="#">SEN IT TECHNOLOGY</a> </small></p>
  </div>
</div>
</div>


<!-- fin du footer -->

{% endblock %}
